<div class="sponsor">
  <div class="section" style="background: url(../assets/imgs/bg1.png) no-repeat center / cover;">
    <img src="../assets/imgs/platinum_banner.png" alt="" class="top_banner">
    <div class="platinum_set">
      <img src="../assets/imgs/platinum_booth1.png" alt="">
    </div>
  </div>
  <div class="section" style="background: url(../assets/imgs/bg2.png) no-repeat center / cover;">
    <img src="../assets/imgs/gold_banner.png" alt="" class="banner">
    <div class="gold_set">
      <img src="../assets/imgs/gold_booth_1.png" alt="">
      <img src="../assets/imgs/gold_booth_1.png" alt="">
    </div>
    <div class="gold_set">
      <img src="../assets/imgs/gold_booth_1.png" alt="">
    </div>
  </div>
  <div class="section" style="background: url(../assets/imgs/bg3.png) no-repeat center / cover;">
    <img src="../assets/imgs/silver_banner.png" alt="" class="banner">
    <div class="silver_set">
      <img src="../assets/imgs/silver_booth1.png" alt="">
      <img src="../assets/imgs/silver_booth1.png" alt="">
      <img src="../assets/imgs/silver_booth1.png" alt="">
    </div>
    <div class="silver_set">
      <img src="../assets/imgs/silver_booth1.png" alt="">
      <img src="../assets/imgs/silver_booth1.png" alt="">
    </div>
  </div>
  <div class="section" style="background: url(../assets/imgs/bg4.png) no-repeat center / cover;">
    <img src="../assets/imgs/angel_banner.png" alt="" class="banner">
    <div class="bronze_set">
      <img src="../assets/imgs/angel_booth1.png" alt="">
      <img src="../assets/imgs/angel_booth1.png" alt="">
      <img src="../assets/imgs/angel_booth1.png" alt="">
      <img src="../assets/imgs/angel_booth1.png" alt="">
    </div>
    <div class="bronze_set">
      <img src="../assets/imgs/angel_booth1.png" alt="">
      <img src="../assets/imgs/angel_booth1.png" alt="">
      <img src="../assets/imgs/angel_booth1.png" alt="">
    </div>
    <div class="bronze_set">
      <img src="../assets/imgs/angel_booth1.png" alt="">
      <img src="../assets/imgs/angel_booth1.png" alt="">
    </div>
    <div class="bronze_set">
      <img src="../assets/imgs/angel_booth1.png" alt="" class="shadows">
    </div>
  </div>
</div>